<!DOCTYPE html>
<html ng-app="calcApp">

<head>
    <title>AngularJS Arithmetic Calculator</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>

<body ng-controller="CalcController">

    <h1>AngularJS Arithmetic Calculator</h1>

    <input type="number" ng-model="num1" placeholder="Enter a number">
    <input type="number" ng-model="num2" placeholder="Enter another number">

    <p>Result of Addition: {{ num1 + num2 }}</p>
    <p>Result of Subtraction: {{ num1 - num2 }}</p>
    <p>Result of Multiplication: {{ num1 * num2 }}</p>
    <p>Result of Division: {{ num1 / num2 }}</p>

    <script>
        var app = angular.module('calcApp', []);

        app.controller('CalcController', function($scope) {
            $scope.num1 = 0;
            $scope.num2 = 0;
        });
    </script>

</body>

</html>
